@import '~bootstrap/dist/css/bootstrap.css';
/**
 * Bootstrap Fonts
 */

@import '~font-awesome/css/font-awesome.css';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Component styles are injected through gulp */
/* inject:css */
@import 'admin/admin.css';
@import 'main/main.css';
@import 'course/course.css';
@import '../components/footer/footer.css';
/* endinject */
